.pl {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500;
}

.round1, .round1::before, .round1::after {
  border: 3px solid transparent;
  border-radius: 50%;
}

.round1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -45px 0 0 -45px;
  width: 90px;
  height: 90px;
  border-top-color: #bac900;
  border-bottom-color: #0088cc;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  z-index: 10001;
}

.round1::before, .round1::after {
  content: '';
  position: absolute;
}
.round1::before {
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 15px;
  border-top-color: #00abd4;
  border-bottom-color: #00ab00;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.round1::after {
  -webkit-animation: rotatespin .5s infinite linear;
  animation: rotatespin .5s infinite linear;
  top: 23px;
  bottom: 23px;
  left: 13px;
  right: 23px;
  border-top-color: #ff1400;
  border-bottom-color: #ff1400;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotatespin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotatespin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
